#container{
    width: 400px;
    background-color: rgb(22, 152, 172);
    padding: 20px;
}

#container > h1{
    margin: 0 0 15px 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    box-sizing: border-box;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.list{
    margin: 15px 0;
}

.list > li{
    background-color: rgb(184, 41, 58);
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}